.bg-back {
    background-image: url(../img/back.png);
    background-size: cover;
}
.bg-basic {
  background: linear-gradient(300deg, blue 10%, darkblue 50%, blue 90% );
}
.bg-gradient-1 {
  background: linear-gradient(180deg,  #00ff00 40%, #fff 50%, #00ff00 60%);
  content: '1';
}

.bg-gradient-2 {
  background: linear-gradient(180deg,  yellow 40%, #fff 50%, yellow 60%);
}

.bg-gradient-3 {
  background: linear-gradient(180deg, #fff 10%, #ff0000 40%, #fff 50%, #ff0000 60%, #fff 90%);
}

.bg-gradient-4 {
  background: linear-gradient(180deg,  green 40%, #fff 50%, green 60%);
}

.bg-gradient-5 {
  background: linear-gradient(180deg,  #696969 40%, #fff 50%, #696969 60%);
}

.bg-gradient-6 {
  background: linear-gradient(180deg,  #000 40%, #fff 50%, #000 60%);
}

.bg-gradient-7 {
  background: linear-gradient(180deg,  blue 40%, #fff 50%, blue 60%);
}

.bg-gradient-8 {
  background: linear-gradient(180deg,  orangered 40%, #fff 50%, orangered 60%);
}

.bg-gradient-9 {
  background: linear-gradient(180deg,  lightseagreen 40%, #fff 50%, lightseagreen 60%);
}

.bg-gradient-10 {
  background: linear-gradient(180deg,  magenta 40%, #fff 50%, magenta 60%);
}

.bg-gradient-11 {
  background: linear-gradient(180deg,  darkcyan 40%, #fff 50%, darkcyan 60%);
}

.bg-gradient-12 {
  background: linear-gradient(180deg,  darkred 40%, #fff 50%, darkred 60%);
}
.bg-gradient-13 {
  background: linear-gradient(120deg,  #00ff00 40%, #fff 50%, #00ff00 60%);
}

.bg-gradient-14 {
  background: linear-gradient(120deg,  yellow 40%, #fff 50%, yellow 60%);
}

.bg-gradient-15 {
  background: linear-gradient(120deg, #fff 10%, #ff0000 40%, #fff 50%, #ff0000 60%, #fff 90%);
}

.bg-gradient-16 {
  background: linear-gradient(120deg,  green 40%, #fff 50%, green 60%);
}

.bg-gradient-17 {
  background: linear-gradient(120deg,  #696969 40%, #fff 50%, #696969 60%);
}

.bg-gradient-18 {
  background: linear-gradient(120deg,  #000 40%, #fff 50%, #000 60%);
}

.bg-gradient-19 {
  background: linear-gradient(120deg,  blue 40%, #fff 50%, blue 60%);
}

.bg-gradient-20 {
  background: linear-gradient(120deg,  orangered 40%, #fff 50%, orangered 60%);
}

.bg-gradient-21 {
  background: linear-gradient(120deg,  lightseagreen 40%, #fff 50%, lightseagreen 60%);
}

.bg-gradient-22 {
  background: linear-gradient(120deg,  magenta 40%, #fff 50%, magenta 60%);
}

.bg-gradient-23 {
  background: linear-gradient(120deg,  darkcyan 40%, #fff 50%, darkcyan 60%);
}

.bg-gradient-24 {
  background: linear-gradient(120deg,  darkred 40%, #fff 50%, darkred 60%);
}
.bg-gradient-25 {
  background: linear-gradient(90deg,  #00ff00 40%, #fff 50%, #00ff00 60%);
}

.bg-gradient-26 {
  background: linear-gradient(90deg,  yellow 40%, #fff 50%, yellow 60%);
}

.bg-gradient-27 {
  background: linear-gradient(90deg, #fff 10%, #ff0000 40%, #fff 50%, #ff0000 60%, #fff 90%);
}

.bg-gradient-28 {
  background: linear-gradient(90deg,  green 40%, #fff 50%, green 60%);
}

.bg-gradient-29 {
  background: linear-gradient(90deg,  #696969 40%, #fff 50%, #696969 60%);
}

.bg-gradient-30 {
  background: linear-gradient(90deg,  #000 40%, #fff 50%, #000 60%);
}

.bg-gradient-31 {
  background: linear-gradient(90deg,  blue 40%, #fff 50%, blue 60%);
}

.bg-gradient-32 {
  background: linear-gradient(90deg,  orangered 40%, #fff 50%, orangered 60%);
}

.bg-gradient-33 {
  background: linear-gradient(90deg,  lightseagreen 40%, #fff 50%, lightseagreen 60%);
}

.bg-gradient-34 {
  background: linear-gradient(90deg,  magenta 40%, #fff 50%, magenta 60%);
}

.bg-gradient-35 {
  background: linear-gradient(90deg,  darkcyan 40%, #fff 50%, darkcyan 60%);
}

.bg-gradient-36 {
  background: linear-gradient(90deg,  darkred 40%, #fff 50%, darkred 60%);
}
.bg-gradient-37 {
  background: linear-gradient(60deg,  #00ff00 40%, #fff 50%, #00ff00 60%);
}

.bg-gradient-38 {
  background: linear-gradient(60deg,  yellow 40%, #fff 50%, yellow 60%);
}

.bg-gradient-39 {
  background: linear-gradient(60deg, #fff 10%, #ff0000 40%, #fff 50%, #ff0000 60%, #fff 90%);
}

.bg-gradient-40 {
  background: linear-gradient(60deg,  green 40%, #fff 50%, green 60%);
}

.bg-gradient-41 {
  background: linear-gradient(60deg,  #696969 40%, #fff 50%, #696969 60%);
}

.bg-gradient-42 {
  background: linear-gradient(60deg,  #000 40%, #fff 50%, #000 60%);
}

.bg-gradient-43 {
  background: linear-gradient(60deg,  blue 40%, #fff 50%, blue 60%);
}

.bg-gradient-44 {
  background: linear-gradient(60deg,  orangered 40%, #fff 50%, orangered 60%);
}

.bg-gradient-45 {
  background: linear-gradient(60deg,  lightseagreen 40%, #fff 50%, lightseagreen 60%);
}

.bg-gradient-46 {
  background: linear-gradient(60deg,  magenta 40%, #fff 50%, magenta 60%);
}

.bg-gradient-47 {
  background: linear-gradient(60deg,  darkcyan 40%, #fff 50%, darkcyan 60%);
}

.bg-gradient-48 {
  background: linear-gradient(60deg,  darkred 40%, #fff 50%, darkred 60%);
}
.bg-gradient-49 {
  background: linear-gradient(20deg,  #00ff00 40%, #fff 50%, #00ff00 60%);
}

.bg-gradient-50 {
  background: linear-gradient(20deg,  yellow 40%, #fff 50%, yellow 60%);
}

.bg-gradient-51 {
  background: linear-gradient(20deg, #fff 10%, #ff0000 40%, #fff 50%, #ff0000 60%, #fff 90%);
}

.bg-gradient-52 {
  background: linear-gradient(20deg,  green 40%, #fff 50%, green 60%);
}

.bg-gradient-53 {
  background: linear-gradient(20deg,  #696969 40%, #fff 50%, #696969 60%);
}

.bg-gradient-54 {
  background: linear-gradient(20deg,  #000 40%, #fff 50%, #000 60%);
}

.bg-gradient-55 {
  background: linear-gradient(20deg,  blue 40%, #fff 50%, blue 60%);
}

.bg-gradient-56 {
  background: linear-gradient(20deg,  orangered 40%, #fff 50%, orangered 60%);
}

.bg-gradient-57 {
  background: linear-gradient(20deg,  lightseagreen 40%, #fff 50%, lightseagreen 60%);
}

.bg-gradient-58 {
  background: linear-gradient(20deg,  magenta 40%, #fff 50%, magenta 60%);
}

.bg-gradient-59 {
  background: linear-gradient(20deg,  darkcyan 40%, #fff 50%, darkcyan 60%);
}

.bg-gradient-60 {
  background: linear-gradient(20deg,  darkred 40%, #fff 50%, darkred 60%);
}

.bg-gradient-61 {
  background: linear-gradient(20deg,  #00ff00 40%, #696969 50%, #00ff00 60%);
}

.bg-gradient-62 {
  background: linear-gradient(20deg,  darkred 40%, #696969 50%, darkred 60%);
}

.bg-gradient-63 {
  background: linear-gradient(20deg,  yellow 40%, #696969 50%, yellow 60%);
}

.bg-gradient-64 {
  background: linear-gradient(20deg, #fff 10%, #ff0000 40%, #696969 50%, #ff0000 60%, #fff 90%);
}