.bg-basic {
  background: linear-gradient(300deg, blue 10%, darkblue 50%, blue 90% );
}
.bg-gradient-1 {
  background: linear-gradient(180deg, #fff 5%, #00ff00 40%, #fff 50%, #00ff00 60%, #fff 95%);
}

.bg-gradient-2 {
  background: linear-gradient(180deg, #fff 5%, yellow 40%, #fff 50%, yellow 60%, #fff 95%);
}

.bg-gradient-3 {
  background: linear-gradient(180deg, #fff 10%, #ff0000 40%, #fff 50%, #ff0000 60%, #fff 90%);
}

.bg-gradient-4 {
  background: linear-gradient(180deg, #fff 5%, green 40%, #fff 50%, green 60%, #fff 95%);
}

.bg-gradient-5 {
  background: linear-gradient(180deg, #fff 5%, #696969 40%, #fff 50%, #696969 60%, #fff 95%);
}

.bg-gradient-6 {
  background: linear-gradient(180deg, #fff 5%, #000 40%, #fff 50%, #000 60%, #fff 95%);
}

.bg-gradient-7 {
  background: linear-gradient(180deg, #fff 5%, blue 40%, #fff 50%, blue 60%, #fff 95%);
}

.bg-gradient-8 {
  background: linear-gradient(180deg, #fff 5%, orangered 40%, #fff 50%, orangered 60%, #fff 95%);
}

.bg-gradient-9 {
  background: linear-gradient(180deg, #fff 5%, lightseagreen 40%, #fff 50%, lightseagreen 60%, #fff 95%);
}

.bg-gradient-10 {
  background: linear-gradient(180deg, #fff 5%, magenta 40%, #fff 50%, magenta 60%, #fff 95%);
}

.bg-gradient-11 {
  background: linear-gradient(180deg, #fff 5%, darkcyan 40%, #fff 50%, darkcyan 60%, #fff 95%);
}

.bg-gradient-12 {
  background: linear-gradient(180deg, #fff 5%, darkred 40%, #fff 50%, darkred 60%, #fff 95%);
}
.bg-gradient-13 {
  background: linear-gradient(120deg, #fff 5%, #00ff00 40%, #fff 50%, #00ff00 60%, #fff 95%);
}

.bg-gradient-14 {
  background: linear-gradient(120deg, #fff 5%, yellow 40%, #fff 50%, yellow 60%, #fff 95%);
}

.bg-gradient-15 {
  background: linear-gradient(120deg, #fff 10%, #ff0000 40%, #fff 50%, #ff0000 60%, #fff 90%);
}

.bg-gradient-16 {
  background: linear-gradient(120deg, #fff 5%, green 40%, #fff 50%, green 60%, #fff 95%);
}

.bg-gradient-17 {
  background: linear-gradient(120deg, #fff 5%, #696969 40%, #fff 50%, #696969 60%, #fff 95%);
}

.bg-gradient-18 {
  background: linear-gradient(120deg, #fff 5%, #000 40%, #fff 50%, #000 60%, #fff 95%);
}

.bg-gradient-19 {
  background: linear-gradient(120deg, #fff 5%, blue 40%, #fff 50%, blue 60%, #fff 95%);
}

.bg-gradient-20 {
  background: linear-gradient(120deg, #fff 5%, orangered 40%, #fff 50%, orangered 60%, #fff 95%);
}

.bg-gradient-21 {
  background: linear-gradient(120deg, #fff 5%, lightseagreen 40%, #fff 50%, lightseagreen 60%, #fff 95%);
}

.bg-gradient-22 {
  background: linear-gradient(120deg, #fff 5%, magenta 40%, #fff 50%, magenta 60%, #fff 95%);
}

.bg-gradient-23 {
  background: linear-gradient(120deg, #fff 5%, darkcyan 40%, #fff 50%, darkcyan 60%, #fff 95%);
}

.bg-gradient-24 {
  background: linear-gradient(120deg, #fff 5%, darkred 40%, #fff 50%, darkred 60%, #fff 95%);
}
.bg-gradient-25 {
  background: linear-gradient(90deg, #fff 5%, #00ff00 40%, #fff 50%, #00ff00 60%, #fff 95%);
}

.bg-gradient-26 {
  background: linear-gradient(90deg, #fff 5%, yellow 40%, #fff 50%, yellow 60%, #fff 95%);
}

.bg-gradient-27 {
  background: linear-gradient(90deg, #fff 10%, #ff0000 40%, #fff 50%, #ff0000 60%, #fff 90%);
}

.bg-gradient-28 {
  background: linear-gradient(90deg, #fff 5%, green 40%, #fff 50%, green 60%, #fff 95%);
}

.bg-gradient-29 {
  background: linear-gradient(90deg, #fff 5%, #696969 40%, #fff 50%, #696969 60%, #fff 95%);
}

.bg-gradient-30 {
  background: linear-gradient(90deg, #fff 5%, #000 40%, #fff 50%, #000 60%, #fff 95%);
}

.bg-gradient-31 {
  background: linear-gradient(90deg, #fff 5%, blue 40%, #fff 50%, blue 60%, #fff 95%);
}

.bg-gradient-32 {
  background: linear-gradient(90deg, #fff 5%, orangered 40%, #fff 50%, orangered 60%, #fff 95%);
}

.bg-gradient-33 {
  background: linear-gradient(90deg, #fff 5%, lightseagreen 40%, #fff 50%, lightseagreen 60%, #fff 95%);
}

.bg-gradient-34 {
  background: linear-gradient(90deg, #fff 5%, magenta 40%, #fff 50%, magenta 60%, #fff 95%);
}

.bg-gradient-35 {
  background: linear-gradient(90deg, #fff 5%, darkcyan 40%, #fff 50%, darkcyan 60%, #fff 95%);
}

.bg-gradient-36 {
  background: linear-gradient(90deg, #fff 5%, darkred 40%, #fff 50%, darkred 60%, #fff 95%);
}
.bg-gradient-37 {
  background: linear-gradient(60deg, #fff 5%, #00ff00 40%, #fff 50%, #00ff00 60%, #fff 95%);
}

.bg-gradient-38 {
  background: linear-gradient(60deg, #fff 5%, yellow 40%, #fff 50%, yellow 60%, #fff 95%);
}

.bg-gradient-39 {
  background: linear-gradient(60deg, #fff 10%, #ff0000 40%, #fff 50%, #ff0000 60%, #fff 90%);
}

.bg-gradient-40 {
  background: linear-gradient(60deg, #fff 5%, green 40%, #fff 50%, green 60%, #fff 95%);
}

.bg-gradient-41 {
  background: linear-gradient(60deg, #fff 5%, #696969 40%, #fff 50%, #696969 60%, #fff 95%);
}

.bg-gradient-42 {
  background: linear-gradient(60deg, #fff 5%, #000 40%, #fff 50%, #000 60%, #fff 95%);
}

.bg-gradient-43 {
  background: linear-gradient(60deg, #fff 5%, blue 40%, #fff 50%, blue 60%, #fff 95%);
}

.bg-gradient-44 {
  background: linear-gradient(60deg, #fff 5%, orangered 40%, #fff 50%, orangered 60%, #fff 95%);
}

.bg-gradient-45 {
  background: linear-gradient(60deg, #fff 5%, lightseagreen 40%, #fff 50%, lightseagreen 60%, #fff 95%);
}

.bg-gradient-46 {
  background: linear-gradient(60deg, #fff 5%, magenta 40%, #fff 50%, magenta 60%, #fff 95%);
}

.bg-gradient-47 {
  background: linear-gradient(60deg, #fff 5%, darkcyan 40%, #fff 50%, darkcyan 60%, #fff 95%);
}

.bg-gradient-48 {
  background: linear-gradient(60deg, #fff 5%, darkred 40%, #fff 50%, darkred 60%, #fff 95%);
}
.bg-gradient-49 {
  background: linear-gradient(20deg, #fff 5%, #00ff00 40%, #fff 50%, #00ff00 60%, #fff 95%);
}

.bg-gradient-50 {
  background: linear-gradient(20deg, #fff 5%, yellow 40%, #fff 50%, yellow 60%, #fff 95%);
}

.bg-gradient-51 {
  background: linear-gradient(20deg, #fff 10%, #ff0000 40%, #fff 50%, #ff0000 60%, #fff 90%);
}

.bg-gradient-52 {
  background: linear-gradient(20deg, #fff 5%, green 40%, #fff 50%, green 60%, #fff 95%);
}

.bg-gradient-53 {
  background: linear-gradient(20deg, #fff 5%, #696969 40%, #fff 50%, #696969 60%, #fff 95%);
}

.bg-gradient-54 {
  background: linear-gradient(20deg, #fff 5%, #000 40%, #fff 50%, #000 60%, #fff 95%);
}

.bg-gradient-55 {
  background: linear-gradient(20deg, #fff 5%, blue 40%, #fff 50%, blue 60%, #fff 95%);
}

.bg-gradient-56 {
  background: linear-gradient(20deg, #fff 5%, orangered 40%, #fff 50%, orangered 60%, #fff 95%);
}

.bg-gradient-57 {
  background: linear-gradient(20deg, #fff 5%, lightseagreen 40%, #fff 50%, lightseagreen 60%, #fff 95%);
}

.bg-gradient-58 {
  background: linear-gradient(20deg, #fff 5%, magenta 40%, #fff 50%, magenta 60%, #fff 95%);
}

.bg-gradient-59 {
  background: linear-gradient(20deg, #fff 5%, darkcyan 40%, #fff 50%, darkcyan 60%, #fff 95%);
}

.bg-gradient-60 {
  background: linear-gradient(20deg, #fff 5%, darkred 40%, #fff 50%, darkred 60%, #fff 95%);
}

.bg-gradient-61 {
  background: linear-gradient(20deg, #fff 5%, #00ff00 40%, #696969 50%, #00ff00 60%, #fff 95%);
}

.bg-gradient-62 {
  background: linear-gradient(20deg, #fff 5%, darkred 40%, #696969 50%, darkred 60%, #fff 95%);
}

.bg-gradient-63 {
  background: linear-gradient(20deg, #fff 5%, yellow 40%, #696969 50%, yellow 60%, #fff 95%);
}

.bg-gradient-64 {
  background: linear-gradient(20deg, #fff 10%, #ff0000 40%, #696969 50%, #ff0000 60%, #fff 90%);
}