.bg-back {
    background-image: url(../img/back.png);
    background-size: cover;
}
.bg-basic {
  content: linear-gradient(300deg, blue 10%, darkblue 50%, blue 90% );
}
.bg-gradient-1 {
  content: "1";
}

.bg-gradient-2 {
  content: "2";
}

.bg-gradient-3 {
  content: "3";
}

.bg-gradient-4 {
  content: "4";
}

.bg-gradient-5 {
  content: "5";
}

.bg-gradient-6 {
  content: "6";
}

.bg-gradient-7 {
  content: "7";
}

.bg-gradient-8 {
  content: "8";
}

.bg-gradient-9 {
  content: "9";
}

.bg-gradient-10 {
  content: "10";
}

.bg-gradient-11 {
  content: "11";
}

.bg-gradient-12 {
  content: "12";
}
.bg-gradient-13 {
  content: "13";
}

.bg-gradient-14 {
  content: "14";
}

.bg-gradient-15 {
  content: "15";
}

.bg-gradient-16 {
  content: "16";
}

.bg-gradient-17 {
  content: "17";
}

.bg-gradient-18 {
  content: "18";
}

.bg-gradient-19 {
  content: "19";
}

.bg-gradient-20 {
  content: "20";
}

.bg-gradient-21 {
  content: "21";
}

.bg-gradient-22 {
  content: "22";
}

.bg-gradient-23 {
  content: "23";
}

.bg-gradient-24 {
  content: "24";
}
.bg-gradient-25 {
  content: "25";
}

.bg-gradient-26 {
  content: "26";
}

.bg-gradient-27 {
  content: "27";
}

.bg-gradient-28 {
  content: "28";
}

.bg-gradient-29 {
  content: "29";
}

.bg-gradient-30 {
  content: "30";
}

.bg-gradient-31 {
  content: "31";
}

.bg-gradient-32 {
  content: "32";
}

.bg-gradient-33 {
  content: "33";
}

.bg-gradient-34 {
  content: "34";
}

.bg-gradient-35 {
  content: "35";
}

.bg-gradient-36 {
  content: "36";
}
.bg-gradient-37 {
  content: "37";
}

.bg-gradient-38 {
  content: "38";
}

.bg-gradient-39 {
  content: "39";
}

.bg-gradient-40 {
  content: "40";
}

.bg-gradient-41 {
  content: "41";
}

.bg-gradient-42 {
  content: "42";
}

.bg-gradient-43 {
  content: "43";
}

.bg-gradient-44 {
  content: "44";
}

.bg-gradient-45 {
  content: "45";
}

.bg-gradient-46 {
  content: "46";
}

.bg-gradient-47 {
  content: "47";
}

.bg-gradient-48 {
  content: "48";
}
.bg-gradient-49 {
  content: "49";
}

.bg-gradient-50 {
  content: "50";
}

.bg-gradient-51 {
  content: "51";
}

.bg-gradient-52 {
  content: "52";
}

.bg-gradient-53 {
  content: "53";
}

.bg-gradient-54 {
  content: "54";
}

.bg-gradient-55 {
  content: "55";
}

.bg-gradient-56 {
  content: "56";
}

.bg-gradient-57 {
  content: "57";
}

.bg-gradient-58 {
  content: "58";
}

.bg-gradient-59 {
  content: "59";
}

.bg-gradient-60 {
  content: "60";
}

.bg-gradient-61 {
  content: "61";
}

.bg-gradient-62 {
  content: "62";
}

.bg-gradient-63 {
  content: "63";
}

.bg-gradient-64 {
  content: "64";
}